@import 'variables.scss';

$font: 'Palanquin', sans-serif;

html,
body {
  background-color: $background;
  color: $white;
  font-family: $font;
}

#main {
  @include container($secondary);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .nav {
    @include container($secondary);
    display: flex;
    justify-content: center;
    button {
      width: 4rem;
      border: 2px solid $primary;
      border-radius: 8px;
      background-color: $background;
      color: $white;
      font-weight: bold;
      padding: 8px 8px;
      &:hover {
        background-color: $hover;
      }
    }

    @media (max-width: 200px) {
      flex-direction: column;
    }
  }
  .list {
    @include container($primary);
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3px;
    .panel {
      display: flex;
      width: 280px;
      flex-direction: column;
      place-self: stretch;
      margin: 5px;
      border: 2px solid $secondary;
      border-radius: 8px;
      &:hover {
        border-color: $hover;
      }
      .title {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0 5px;
        padding: 5px;
        .info {
          display: flex;
          justify-content: center;
          cursor: pointer;
          font-weight: bolder;
          flex-grow: 0;
          margin: 10px;
          .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            background: transparent;
            border-style: none;
            cursor: pointer;
            .info-circle {
              width: 28px;
            }
          }
        }
        .icon {
          width: 30px;
        }
      }
      .app {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-grow: 1;;
        padding: 0 10px;
        font-size: 0.8rem;
      &:hover {
        max-height: 1000px;
        transition: all 0.5s cubic-bezier(1,0,1,0);
        }
      }
    }
  }
}

li {
  list-style-type: none;
}

a, a:visited {
  text-decoration: none;
  color: $white;
  font-weight: normal;
}

.dialog {
    @include dialog($background);
}
